@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat"), local("Montserrat"), url(fontes/Montserrat-SemiBold.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
}

img {
  pointer-events: none;
}

.cabecalho {
  height: 240px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #eeeeee;

}

@media screen and (min-width:1200px) {
  .cabecalho {
      display: none;
  }
}

.cabecalho__logo {
  width: 300px;
  margin: 0 auto;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px;
  background-image: url('ativos/bg-site.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width:1200px) {
  .conteudo {
      flex-direction: row-reverse;
      height: 100vh;
      padding: 0;
  }
}

.conteudo__texto {
  font-size: 18px;
  color: #eee;
  margin-bottom: 32px;
  text-align: center;
  max-width: 300px;
  line-height: 40px;
}

.conteudo__texto_destaque {
  font-size: 28px;
  margin-bottom: 80px;
}

.conteudo__texto strong {
  background: #A050B7;
}

.conteudo__primario {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width:1200px) {
  .conteudo__primario {
      flex-grow: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
  }
}

.botao {
  padding: 16px;
  background-color: #A050B7;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  border-radius: 50px;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

@media screen and (min-width:1200px) {
  .botao {
      width: auto;
  }
}

.rodape {
  margin-top: 48px;
}

@media screen and (min-width:1200px) {
  .rodape {
      flex-grow: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      border-right: 2px solid #ffffff;
      justify-content: center;
      height: 50%;
      margin: 0;
  }
}

.rodape h3 {
  margin-bottom: 24px;
}

.rodape__logo {
  max-width: 320px;
}

.rodape__icones {
  display: flex;
  width: 100%;
  justify-content: center;
}

.rodape__icones img {
  height: 24px;
  margin: 0px 8px;
  margin-top: 48px;
}

.link {
  margin-top: 20px;
}

.link:hover {
  opacity: .8;
}